@model Sogeti.Academy.Application.Topics.Queries.GetList.ListViewModel
@{
    ViewBag.Title = "Topics";
    Layout = "~/General/Layouts/Layout.cshtml";
}
<div class="topics">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" id="createTopicForm" role="form">
                <button class="btn btn-primary" data-toggle="collapse" href="#createTopic" aria-expanded="false">
                    Create Topic
                </button>
                <div class="collapse create-topic-form" id="createTopic">
                    <input class="form-control" type="text" name="name" id="name" required placeholder="Topic" />
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="reset" class="btn btn-default" data-toggle="collapse" href="#createTopic">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group topics-list">
                @foreach (var topic in Model.Topics)
            {
                    <li class="list-group-item">
                        <form class="form-inline vote-form" id="@topic.Id" form="role">
                            <button class="btn btn-default btn-vote" data-toggle="collapse" href="#@(topic.Id)collapse">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <span>
                                @topic.Name
                                <span class="badge">@topic.Votes</span>
                            </span>
                            <div class="collapse" id="@(topic.Id)collapse" aria-expanded="false">
                                <input class="form-control" type="email" name="email" id="email" required placeholder="Email" />
                                <input class="form-control" type="hidden" name="topicId" id="topicId" value="@topic.Id" />
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button type="reset" class="btn btn-default" data-toggle="collapse" href="#@(topic.Id)collapse">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
